<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.luisvillalobos.dev.materialdesignexercises">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/MaterialTheme">
        <activity android:name=".MenuActivity"></activity>
        <activity android:name=".design.ActivityConstraintLayout" />
        <activity android:name=".design.ToolBar" />
        <activity android:name=".animation.ActivityAnimationBottomTop" />
        <activity android:name=".animation.ActivityAnimationTopBottom" />
        <activity android:name=".animation.ActivityAnimationLeftRight" />
        <activity android:name=".animation.ActivityAnimationRightLeft" />
        <activity android:name=".animation.FrameAnimation" />
        <activity android:name=".animation.FirstAnimation" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>